/* style */
body {
    background-color: rgb(218, 227, 230);
    background-repeat: no-repeat;
}

.container {
    background-color: white;
    height: 450px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 1px 2px 8px black;
    border-radius: 8px;
    box-sizing: border-box;
}

.container .header {
    box-sizing: border-box;
}

.container .header {
    height: 170px;
    background-image: url(2019.jpg);
    background-size: cover;
}

.container .header .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .header .text h3 {
    color: black;
    font-weight: bold;
    text-align: center;
}

.container .box-login {
    margin: 20px auto;
    padding: 20px;
}

.container .box-login .form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 12px;
}

.container .box-login .tombol_login {
    background-color: rgb(235, 197, 184);
    width: 100%;
    border: none;
    font-size: 15px;
    padding: 10px;
}
